@import "./variables.scss";

.sessions {
  grid-column: 1 / span 6;
  margin-top: 1em;
  margin-bottom: 1em;

  .session--topics {
    margin-top: 0;
  }

  .location {
    background: white;
    padding: 1em;
    margin-top: -50%;
    grid-row: 2;
    grid-column: 1 / span 2;

    .heading {
      margin-top: 0;
    }

    @media (max-width: $mobile-breakpoint) {
      margin-top: 0;
    }
  }

  .session--topics-background::before {
    width: 250px;
    height: 200px;
  }

  @media (max-width: $mobile-breakpoint) {
    display: block !important;
  }
}

.session {
  &--speaker {
    grid-column: 1 / span 2;
    color: black;
    max-width: 100%;

    &-background::before {
      content: " ";
      width: 300px;
      margin-left: -54px;
      height: 260px;
      position: absolute;
      background: url("../assets/img/hex.svg");
      background-size: 100%;
      background-repeat: no-repeat;
    }
    &-header {
      text-transform: uppercase;
      margin-top: 0.5em;
      margin-left: 0;
      position: relative;
      padding-left: 2em;
    }
    &-image {
      background-color: rgba(255, 255, 255, 0.5);
      max-width: 200px;
      position: relative;
    }
    &-name {
      background-color: rgba(255, 255, 255, 0.5);
      color: $color-accent;
      padding-top: 1em;
      padding-left: 1em;
      position: relative;
    }
    &-about {
      background-color: rgba(255, 255, 255, 0.5);
      padding: 1em;
      position: relative;
    }
    &-social {
      background-color: rgba(255, 255, 255, 0.5);
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 1em;
      position: relative;
    }
  }
  &--topics {
    grid-column: 3 / span 4;
    color: black;
    margin-top: -20%;

    @media (max-width: $mobile-breakpoint) {
      margin-top: 0;
    }
  }

  &--topic {
    &-background::before {
      content: " ";
      width: 250px;
      margin-left: -48px;
      height: 215px;
      position: absolute;
      background: url("../assets/img/hex.svg");
      background-size: 100%;
      background-repeat: no-repeat;
    }
    &-header {
      text-transform: uppercase;
      margin-top: 0.5em;
      margin-left: 1em;
      position: relative;
    }
    &-title {
      background-color: white;
      color: $color-accent;
      font-size: large;
      padding-top: 1em;
      padding-left: 1em;
      margin-top: 0;
      margin-bottom: 0;
      position: relative;
    }
    &-description {
      background-color: white;
      padding: 1em;
      position: relative;
    }
  }
}
